h1 {
	margin: 10px;
}

h2 {
	margin: 10px;
}

h3 {
	margin: 10px;
}

p {
	margin: 10px;
	line-height: 2;
}

#intro {
	display: flex;
	flex-direction: row;
	margin-bottom: 40px;
	justify-content: center;
}

#introText {
	background-color: rgb(218 235 254);
	padding: 10px;
	width: 50%;
	height: auto;
}

.heading {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.thumbnail {
	display: flex;
	flex-direction: row;
}

.thumbnailText {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
