h1 {
	margin: 10px;
}

h2 {
	margin: 10px;
}

h3 {
	margin: 10px;
}

p {
	margin: 10px;
	line-height: 2;
}

#intro {
	display: flex;
	flex-direction: row;
	margin-bottom: 40px;
	justify-content: center;
	flex-wrap: wrap-reverse;
}

#introText {
	background-color: rgb(218 235 254);
	width: 50%;
}

.heading {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.thumbnail {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

.thumbnailText {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 50%;
}
