h1 {
  margin: 10px;
}

h2 {
  margin: 10px;
}

h3 {
  margin: 10px;
}

p {
  margin: 10px;
  line-height: 1.5;
}

a {
  color: black;
}

#content {
  margin: 50px;
  line-height: normal;
}

#bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 30px;
}

#navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.masthead {
  background-color: rgb(218 235 254);
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
